.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 1rem; /* Space between images */
  padding: 1rem;
  list-style: none;
  margin: 0 auto;
  width: 100%; /* Full width */
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
