.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 0.5rem; /* Add consistent spacing between images */
  padding: 0; /* Remove padding */
  list-style: none;
  margin: 0; /* Remove margins */
  width: 100%; /* Full width */
  margin-top: 0.5rem; /* Match spacing with the search bar */
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
