.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Darkened overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: transparent; /* Remove white background */
  padding: 0; /* Remove padding */
  max-width: 90%;
  max-height: 90%;
  overflow: hidden; /* Ensure no scrollbars appear */
}

.content {
  max-width: 90%;
  max-height: 90%;
}

.content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}

.closeButton {
  position: absolute;
  top: 0.5rem; /* Adjusted position for better usability */
  right: 0.5rem;
  background: transparent;
  color: black;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  outline: none; /* Remove focus outline */
}

.closeButton:hover {
  color: red;
}

.closeButton:focus {
  outline: none; /* Ensure no border is visible when focusing */
}
